services:
  postgres:
    image: postgres:18.1-alpine
    container_name: trading_postgres
    env_file:
      - ../.env
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    command:
      - postgres
      - -c
      - max_connections=400
      - -c
      - shared_buffers=512MB
      - -c
      - effective_cache_size=1536MB
      - -c
      - maintenance_work_mem=256MB
      - -c
      - wal_compression=on
      - -c
      - max_wal_size=4GB
      - -c
      - random_page_cost=1.1
      - -c
      - deadlock_timeout=200ms
      - -c
      - log_lock_waits=on
      - -c
      - log_min_duration_statement=100ms
      - -c
      - log_parameter_max_length=128
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U trading_user -d trading_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: market-postgres-api
    container_name: trading_api
    env_file:
      - ../.env
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy

  webapp:
    image: nginx:alpine
    container_name: trading_webapp
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    ports:
      - "1234:80"
    volumes:
      - ../webapp:/usr/share/nginx/html:ro
    depends_on:
      - api

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: trading_pgadmin
    env_file:
      - ../.env
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_LISTEN_PORT: 5050
    ports:
      - "5050:5050"
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  pgadmin_data:
